{% extends "base.html" %}
{% load markup %}

{% block title %}List of projects{% endblock %}

{% block header %}Projects{% endblock %}

{% block content %}

{% if data %}
    {% for project in data %}
    <div class="well">
        <a href="{{project.uri}}"><h3>{{project.name}}</h3></a>
        {{project.description|restructuredtext}}
        <span class="label">Last updated: {{project.last_updated}}</span>
    </div>
    
    {% endfor %}
{% else %}
<p>You have no projects.</p>
{% endif %}


{% endblock %}

