{% extends "base.html" %}

{% block title %}Project {{data.name}}{% endblock %}

{% block header %}{{data.name}}{% endblock %}

{% block content %}

<p>{{data.description}}</p>
{% if data.access %}
<p>This project is accessible to {{data.access|join:", "}}</p>
{% endif %}

{% if data.tags %}<p><a href=".">Show all records</a></p>{% endif %}

<table class="main">
    <tr>
        <th>Label</th>
        <th>Reason</th>
        <th>Outcome</th>
        <th>Duration</th>
        <th>Date/Time</th>
        <th>Executable</th>
        <th>Repository</th>
        <th>Version</th>
        <th>Script</th>
        <th>Arguments</th>
        <th>Tags</th>
    </tr>
</table>

{% endblock %}