{% extends "base.html" %}
{% load filters %}
    
{% block title %}{{data.project_id}}: {{data.label}}{% endblock %}

{% block header %}
<a href="..">{{data.project_id}}</a>: <i>{{data.label}}</i>
{% endblock %}

{% block content %}
{% with record=data %}
<table>
    <tr><th>Label:</th><td>{{record.label}}</td></tr>
    <tr><th>Reason:</th><td>{{record.reason}}</td></tr>
    <tr><th>Outcome:</th><td>{{record.outcome}}</td></tr>
    <tr><th>Timestamp:</th><td>{{record.timestamp|date:"d/m/Y H:i:s"}}</td></tr>
    <tr><th>Duration:</th><td>{{record.duration|floatformat:"2"}}&nbsp;s</td></tr>
    <tr><th>Executable:</th><td>{{record.executable.name}} version {{record.executable.version}} ({{record.executable.path}})</td></tr>
    <tr><th>Launch mode:</th><td>{% ifequal record.launch_mode.type "SerialLaunchMode" %}serial{% else %}distributed, n={{record.launch_mode.get_parameters.n}}{% endifequal %}</td></tr>
    <tr><th>Repository:</th><td>{{record.repository.url}}</td></tr>
    <tr><th>Main file:</th><td>{{record.main_file}}</td></tr>
    <tr><th>Version:</th><td>{{record.version}}{% if record.diff %}* (<a href="diff/">diff</a>){% endif %}</td></tr>
    <tr><th>Arguments:</th><td>{{record.script_arguments}}</td></tr>
    <tr><th>Tags:</th><td>{{record.tags|link:"../?tags=%s"}}</td></tr>
</table>

{% if record.input_data %}
<h3>Input files</h3>
<table>
    <tr><td colspan="4">{{record.input_datastore.root}}</td></tr>
{% for file in record.input_data %}
  <tr class="{% cycle odd even %}"><td>{{file.path}}</td>
                                   <td>{{file.digest}}</td>
                                   <td>{{file.metadata.mimetype|default:""}}</td>
                                   <td>{{file.metadata.size|filesizeformat}}</td></tr>
{% endfor %}
</table>
{% endif %}

<h3>Output files</h3>
<table>
    <tr><td colspan="4">{{record.input_datastore.root}}</td></tr>
{% for file in record.output_data %}
  <tr class="{% cycle "odd" "even" %}"><td>{{file.path}}</td>
                                       <td>{{file.digest}}</td>
                                       <td>{{file.metadata.mimetype|default:""}}</td>
                                       <td>{{file.metadata.size|filesizeformat}}</td></tr>
{% endfor %}
</table>

<h3>Parameters</h3>
{{record.parameters.content}}
                        
<h3>Dependencies</h3>
<table class="fullwidth">
<tr><th>Name</th><th>Path</th><th>Version</th></tr>
{% for dep in record.dependencies %}
<tr class="{% cycle "odd" "even" %}"><td>{{dep.name}}</td><td>{{dep.path}}</td><td>{{dep.version}}{% if dep.diff %}* (<a href="diff/{{dep.name}}">diff</a>){% endif %}</td></tr>{% endfor %}
</table>

<h3>Platform information</h3>
<table class="fullwidth">
<tr><th>Name</th><th>IP address</th><th>Processor</th>
    <th colspan="2">Architecture</th><th>System type</th>
    <th>Release</th><th>Version</th>
</tr>
{% for platform in record.platforms %}
<tr class="{% cycle "odd" "even" %}">
    <td>{{platform.network_name}}</td>
    <td>{{platform.ip_addr}}</td>
    <td>{{platform.processor}} {{platform.machine}}</td>
    <td>{{platform.architecture_bits}}</td>
    <td>{{platform.architecture_linkage}}</td>
    <td>{{platform.system_name}}</td>
    <td>{{platform.release}}</td>
    <td>{{platform.version}}</td>
</tr>{% endfor %}
</table>

{% if record.stdout_stderr %}
<h3>Stdout &amp; Stderr</h3>
<pre>
{{ record.stdout_stderr }}
</pre>
{% endif %}
{% endwith %}
{% endblock %}
