{% extends "base.html" %}


{% block title %}{{data.project_id}}: {{data.label}}{% endblock %}

{% block header %}
<a href="..">{{data.project_id}}</a>: <i>{{data.label}}</i>
{% endblock %}

{% block content %}

<table>
    <tr><th>Label:</th><td>{{data.label}}</td></tr>
    <tr><th>Reason:</th><td>{{data.reason}}</td></tr>
    <tr><th>Outcome:</th><td>{{data.outcome}}</td></tr>
    <tr><th>Timestamp:</th><td>{{data.timestamp|date:"d/m/Y H:i:s"}}</td></tr>
    <tr><th>Duration:</th><td>{{data.duration|floatformat:"2"}}&nbsp;s</td></tr>
    <tr><th>Executable:</th><td>{{data.executable.name}} version {{data.executable.version}} ({{data.executable.path}})</td></tr>
    <tr><th>Launch mode:</th><td>{% ifequal data.launch_mode.type "SerialLaunchMode" %}serial{% else %}distributed, n={{data.launch_mode.get_parameters.n}}{% endifequal %}</td></tr>
    <tr><th>Repository:</th><td>{{data.repository.url}}</td></tr>
    <tr><th>Main file:</th><td>{{data.main_file}}</td></tr>
    <tr><th>Version:</th><td>{{data.version}}{% if data.diff %}* (<a href="diff/">diff</a>){% endif %}</td></tr>
    <tr><th>Tags:</th><td>{{data.tags}}</td></tr>
</table>

</form>

<h3>Data files</h3>
{{data.data_key}}

<h3>Parameters</h3>
{{data.parameters.content}}
                        
<h3>Dependencies</h3>
<table class="fullwidth">
<tr><th>Name</th><th>Path</th><th>Version</th></tr>
{% for dep in data.dependencies %}
<tr class="{% cycle "odd" "even" %}"><td>{{dep.name}}</td><td>{{dep.path}}</td><td>{{dep.version}}{% if dep.diff %}* (<a href="diff/{{dep.name}}">diff</a>){% endif %}</td></tr>{% endfor %}
</table>

<h3>Platform information</h3>
<table class="fullwidth">
<tr><th>Name</th><th>IP address</th><th>Processor</th>
    <th colspan="2">Architecture</th><th>System type</th>
    <th>Release</th><th>Version</th>
</tr>
{% for platform in data.platforms %}
<tr class="{% cycle "odd" "even" %}">
    <td>{{platform.network_name}}</td>
    <td>{{platform.ip_addr}}</td>
    <td>{{platform.processor}} {{platform.machine}}</td>
    <td>{{platform.architecture_bits}}</td>
    <td>{{platform.architecture_linkage}}</td>
    <td>{{platform.system_name}}</td>
    <td>{{platform.release}}</td>
    <td>{{platform.version}}</td>
</tr>{% endfor %}
</table>

{% endblock %}

